<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>servlet.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewInstructorInfo</servlet-name>
    <servlet-class>servlet.ViewInstructorInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInstructorInfo</servlet-name>
    <url-pattern>/instructor</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddStudentRegistration</servlet-name>
    <servlet-class>servlet.AddStudentRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentRegistration</servlet-name>
    <url-pattern>/addStudentRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>servlet.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/addNewStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewStudent</servlet-name>
    <servlet-class>servlet.NewStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAdvisor</servlet-name>
    <servlet-class>servlet.AddAdvisor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdvisor</servlet-name>
    <url-pattern>/addAdvisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDepartment</servlet-name>
    <servlet-class>servlet.AddDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartment</servlet-name>
    <url-pattern>/addDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddInstructor</servlet-name>
    <servlet-class>servlet.AddInstructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInstructor</servlet-name>
    <url-pattern>/addNewInstructor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewInstructor</servlet-name>
    <servlet-class>servlet.NewInstructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewInstructor</servlet-name>
    <url-pattern>/addInstructor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>servlet.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/addNewCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewCourse</servlet-name>
    <servlet-class>servlet.NewCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCourse</servlet-name>
    <url-pattern>/addCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddRegistration</servlet-name>
    <servlet-class>servlet.AddRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRegistration</servlet-name>
    <url-pattern>/addNewRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewRegistration</servlet-name>
    <servlet-class>servlet.NewRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRegistration</servlet-name>
    <url-pattern>/addRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSection</servlet-name>
    <servlet-class>servlet.AddSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSection</servlet-name>
    <url-pattern>/addNewSection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewSection</servlet-name>
    <servlet-class>servlet.NewSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewSection</servlet-name>
    <url-pattern>/addSection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorRegistration</servlet-name>
    <servlet-class>servlet.AdvisorRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorRegistration</servlet-name>
    <url-pattern>/advisorNewRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorNewRegistration</servlet-name>
    <servlet-class>servlet.AdvisorNewRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorNewRegistration</servlet-name>
    <url-pattern>/advisorRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorViewStudentInformation</servlet-name>
    <servlet-class>servlet.AdvisorViewStudentInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorViewStudentInformation</servlet-name>
    <url-pattern>/advisorStudentInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewStudentInfo</servlet-name>
    <servlet-class>servlet.ViewStudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentInfo</servlet-name>
    <url-pattern>/viewStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCourseOffer</servlet-name>
    <servlet-class>servlet.ViewCourseOffer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCourseOffer</servlet-name>
    <url-pattern>/ViewCourseOffer</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ViewRoster</servlet-name>
    <servlet-class>servlet.ViewRoster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRoster</servlet-name>
    <url-pattern>/viewRoster</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignGrade</servlet-name>
    <servlet-class>servlet.AssignGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignGrade</servlet-name>
    <url-pattern>/assignGrade</url-pattern>
  </servlet-mapping>
  </web-app>